<%= form_for ([@product, @user]) do |g| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
 <p>
    <%= g.label :name %>
    <%= g.text_field :name %>
 </p>

 <p>
    <%= g.label :address %>
    <%= g.text_field :address %>
 </p>

 <p>
    <%= g.label :quantity %>
    <%= g.number_field :quantity %>
 </p>

  <p>
    <%= g.label :product %>
    <%= g.text_field :product %>
 </p>


  <p>
      <%= g.submit %>
  </p>
<% end %>